.home {
    display: grid;
    grid-template-columns: 400px 1fr;

    @media all and (max-width: 720px) {
        grid-template-columns: 255px 1fr;
    }
}

.home__upcoming {
    margin-top: 2rem;
}

.home__footer {
  
}

.home__footer {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    margin-left: -150px;

    @media all and (max-width: 720px) {
        margin-left: -5px;
    }
}