.upcoming {
	margin-top: 4.3rem;
}

.upcoming__h1 {
	font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 29px;
letter-spacing: 0.05em;

color: #000000;
}

.upcoming__thumbnail {
	width: 623px;
    height: 361px;
    margin-top: 1.5rem;
}

.upcoming__p0 {
    margin-top: 1.5rem;
}

.upcoming__btn {
	background-color: #6700ff;
	color: #fff;
    padding: 1rem;
    cursor: pointer;
	font-style: normal;
	font-weight: 500;
	font-size: 1.1rem;
	line-height: 130%;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
    letter-spacing: 0.1em;
    margin-top: 1.5rem;
}

.icon {
    color: #6700ff;
    margin-right: 0.5rem;  
}

@media all and (max-width: 600px) {
	.upcoming {
		margin-left: 5px;
	}
}
