.upcoming__thumbnail {
	width: 623px;
    height: 361px;
    margin-top: 1.5rem;
}

.upcoming__p0 {
    margin-top: 1.5rem;
}

.upcoming__btn {
	background-color: #6700ff;
	color: #fff;
    padding: 1rem;
    cursor: pointer;
	font-style: normal;
	font-weight: 500;
	font-size: 1.1rem;
	line-height: 130%;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
    letter-spacing: 0.1em;
    margin-top: 1.5rem;
}

.icon {
    color: #6700ff;
    margin-right: 0.5rem;  
}
